click
matplotlib>=3.10.1
nltk>=3.6.5
numpy>=2.2.6
pandas>=2.2.3
requests>=2.21.0
sacrebleu>=2.0.0
sacremoses
seaborn
stanza>=1.6.1
tqdm>=4.32.2
yattag
plotly>=4.0.0
bert_score>=0.3.13
simalign
textstat
spacy>=3.8.5
tseval@git+https://github.com/rstodden/text-simplification-evaluation.git@master
scikit-learn
torch>=2.7